.contact-card {
  background-color: aqua;
  width: 350px;
  height: 70px;
  margin: 10px auto;
  box-shadow: 10px 5px 5px rgb(5, 58, 40);
}
.contact {
  padding: 10px 0;
}
.gender{
    position: relative;
    float: right;
    padding-right: 10px;
}
.contact-name, .contact-number{
    position: relative;
    float: left;
    padding-left: 80px;
}
.contact-number{
    padding-top: 5px;
}